header {
  height: 100vh;
  overflow: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--panel-bg-color);
  border-radius: 10rem;
  padding: 1rem;
  top: 50vh;
  transform: translateY(-50%);
}

.header__container {
  background: var(--dynamic-bg-gradient);
  background-size: var(--dynamic-bg-size);
  animation: var(--dynamic-bg-animation);
}

h1 {
  text-align: center;
}

.tc-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
}

/************************************* ME ***************************************/

.me-img {
  width: 22rem;
  margin-top: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  filter: contrast(70%);
  filter: brightness(130%);
}

/******************************* ANIMATIONS ***********************************************/

/************************************* TYPEWRITING ***************************************/
.typewriting {
  height: 1.2rem;
  transform: translateX(3%);
  text-align: center;
}

/************************************* SCROLL DOWN ***************************************/

/************************************* SMALLER DEVICES ***************************************/

/************************************* TABLETS ***************************************/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
    padding-top: 3rem;
  }

  .header__container {
    background: none;
  }
}

/************************************* CELLPHONES ***************************************/
@media screen and (max-width: 600px) {
  header {
    padding-top: 3rem;
  }

  .to-pg-top {
    display: none;
  }
}
